@import '~@angular/material/core/theming/all-theme';
@import '~@angular/material/core/theming/palette';
@import '../src/badge/_badge.scss';
@import '../src/badge/_badge-theme.scss';
@import '../src/dropdown-tree-field/_dropdown-tree-field-theme.scss';
@import './_typography.scss';
@import './_header-base.scss';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$cbp-primary: mat-palette($mat-indigo, 600, 100, 900);
$cbp-accent: mat-palette($mat-amber, A400);

// The warn palette is optional (defaults to red).
$cbp-warn: mat-palette($mat-red, 500);

// Create the theme object (a Sass map containing all of the palettes).
$cbp-pre-theme: mat-light-theme($cbp-primary, $cbp-accent, $cbp-warn);
$cbp-pre-background: map-get($cbp-pre-theme, background);
$cbp-pre-foreground: map-get($cbp-pre-theme, foreground);

$cbp-theme: map-merge($cbp-pre-theme, (
    background: map-merge($cbp-pre-background, (
        modified: #ffeb3b,
    )),
    foreground: map-merge($cbp-pre-foreground, (
        enabled-hint-text: rgba(0, 0, 0, 0.87),
    )),
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cbp-theme);
@include cf-dropdown-tree-theme($cbp-theme);
@include cf-badge-theme($cbp-theme);

$foreground: map-get($cbp-theme, foreground);

.mat-toolbar.mat-primary {
    color: #fff;

    .mat-button.mat-accent[disabled],
    .mat-button.mat-primary[disabled],
    .mat-button.mat-warn[disabled],
    .mat-button[disabled],
    .mat-icon-button.mat-accent[disabled],
    .mat-icon-button.mat-primary[disabled],
    .mat-icon-button.mat-warn[disabled],
    .mat-icon-button[disabled] {
        color: rgba(255, 255, 255, 0.3);
    }
}

.mat-input-placeholder {
    color: mat-color($foreground, enabled-hint-text);
}

.mat-select-trigger {
    color: mat-color($foreground, enabled-hint-text);
}

.mat-select-arrow {
    color: mat-color($foreground, enabled-hint-text);
}
